<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie= edge">
    <title> Adicionar Sabores ao Menu </title>
</head>

<body>
    <p>Adicionar Novos Sabores</p>
    <form method="POST">
        Sabor: <input type="text" name="sabor">
        Massa: <input type="text" name="massa">
        Tipo de Borda: <input type="text" name="tipoDeBorda">
        Valor: <input type="number" name="valor">
        <button type="submit"> Adicionar </button>
    </form>
    <a href="/menu"></a>

</body>

</html>