<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> BPizzas </title>
</head>

<body>

    <h1 style="text-align: center"> BPizzas </h1>
    <div>

        <div th:each="pizza : ${sabores}">
            <h3 th:text="${pizza.sabor}"></h3>
            <h4 th:text="${pizza.massa}"></h4>
            <h4 th:text="${pizza.tipoDeBorda}"></h4>
            <h4 th:text="${pizza.valor}"></h4>
        </div>
    </div>
<button> <a href="/menu"> Sabores Novos </a></button>
</body>

</html>